@CHARSET "ISO-8859-1";
.container{
	width: 1105px; 
	background-color: rgba(241,241,241);
	font-size: 14px;
	min-height:700px;
}
.container thead{
	white-space: nowrap;
}
.container td{
	align-items: center;
}
